In [1]:
import os
import sys
import time
import pandas as pd
import numpy as np
# from bioservices import BioDBNet
from transcriptomic_gen import *

In [3]:
# Load Proteomics
datafilename = 'ni.3693-S5.xlsx'
data_sheet = list(range(1)) # first 5 sheets
dataFullPath = os.path.join(projectdir, 'data', datafilename)
fulldata = pd.read_excel(dataFullPath, sheet_name=data_sheet, header=0)
proteomics_data = fulldata[0]

# Preprocess data, drop na, duplicate ';' in Gene names, 
proteomics_data['Gene names'] = proteomics_data['Gene names'].astype(str)
proteomics_data.dropna(subset=['Gene names'],inplace=True)
pluralnames = proteomics_data[proteomics_data['Gene names'].str.contains(';')==True]
for idx, row in pluralnames.iterrows():
    # print('{}: {}'.format(idx, row['Gene names']))
    names = row['Gene names'].split(';')
    rows = []
    for name in names:
        rowcopy = row.copy()
        rowcopy['Gene names'] = name
        rows.append(rowcopy)
    proteomics_data.drop(index=idx,inplace=True)
    proteomics_data.append(rows, ignore_index=True)

proteomics_data.rename(columns={'Gene names':'Gene Symbol'}, inplace=True)

In [4]:
suppfilename = 'Supplementary Data 1.xlsx'
suppFullPath = os.path.join(projectdir, 'data', suppfilename)
supp_sheet = ['Proteomics']
supplements = pd.read_excel(suppFullPath, sheet_name=supp_sheet, header=0)
Proteomics = supplements['Proteomics']

Read From Saved Data

In [6]:
proteomics_data = pd.read_csv(os.path.join(projectdir,'data','proteomics_data.csv'),index_col='ENTREZ_GENE_ID')
sym2id = pd.read_csv(os.path.join(projectdir,'data','proteomics_entrez_map.csv'), index_col='Gene Symbol')

In [131]:
sym2id = fetch_entrez_gene_id(proteomics_data['Gene Symbol'].tolist(), input_db='Gene Symbol')
sym2id.loc[sym2id['Gene ID']=='-', ['Gene ID']] = np.nan

proteomics_data.set_index('Gene Symbol', inplace=True)
proteomics_data['ENTREZ_GENE_ID'] = sym2id['Gene ID']
proteomics_data.dropna(subset=['ENTREZ_GENE_ID'], inplace=True)
proteomics_data.set_index('ENTREZ_GENE_ID', inplace=True)
proteomics_data.drop(columns=['Majority protein IDs'], inplace=True)

proteomics_data.to_csv(os.path.join(projectdir,'data','proteomics_data.csv'),index_label='ENTREZ_GENE_ID')
sym2id.to_csv(os.path.join(projectdir,'data','proteomics_entrez_map.csv'), index_label='Gene Symbol')

INFO    [bioservices:BioDBNet]:  Initialising BioDBNet service (REST)

retrieve 0:500
retrieve 500:1000
retrieve 1000:1500
retrieve 1500:2000
retrieve 2000:2500
retrieve 2500:3000
retrieve 3000:3500
retrieve 3500:4000
retrieve 4000:4500
retrieve 4500:5000
retrieve 5000:5500
retrieve 5500:6000
retrieve 6000:6500
retrieve 6500:7000
retrieve 7000:7500
retrieve 7500:8000
retrieve 8000:8500
retrieve 8500:9000
retrieve 9000:9500
retrieve 9500:10000
retrieve 10000:10264

In [56]:
proteomics_data.index.name='ENTREZ_GENE_ID'
proteomics_data.to_csv(os.path.join(projectdir,'data','proteomics_data.csv'),index_label='ENTREZ_GENE_ID')

## Load Data by Test

In [58]:
tests = []
files = []
datas = []
for test in list(Proteomics):
    if test == 'Statistics':
        break
    cols = Proteomics[test].dropna().tolist()
    testdata = proteomics_data.loc[:,cols]
    # Logical Calculation
    thresholds = testdata.quantile(0.75, axis=0)
    testbool = pd.DataFrame(0,columns=list(testdata),index=testdata.index)
    for col in list(testdata):
        testbool.loc[testdata[col] > thresholds[col], [col]] = 1

    testdata['pos'] = (testdata > 0).sum(axis=1)/testdata.count(axis=1)
    testdata['0.5'] = 0
    testdata.loc[(testdata['pos'] > 0.5),['0.5']] = 1
    testdata['top 0.25'] = 0
    testdata.loc[testbool.any(axis=1),'top 0.25'] = 1
    
    output_path = os.path.join(projectdir,'data','Proteomics_{}.csv'.format(test.strip()))
    testdata.to_csv(output_path, index_label='ENTREZ_GENE_ID')
    print('Test Data Saved to {}'.format(output_path))
    tests.append(test.strip())
    files.append(output_path)
    datas.append(testdata)
    
protemoics_dict = dict(zip(tests,files))
testdata_dict = dict(zip(tests,datas))

Test Data Saved to /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Naïve.csv
Test Data Saved to /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th1.csv
Test Data Saved to /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th2.csv
Test Data Saved to /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th17.csv

In [59]:
# Read data from csv files
tests = []
datas = []
for test in list(Proteomics):
    if test == 'Statistics':
        break
    cols = Proteomics[test].dropna().tolist()
    output_path = os.path.join(projectdir,'data','Proteomics_{}.csv'.format(test.strip()))
    testdata = pd.read_csv(output_path, index_col='ENTREZ_GENE_ID')
    print('Test Data Load From {}'.format(output_path))
    tests.append(test.strip().replace('ï','i'))
    datas.append(testdata)
    
proteomics_dict = dict(zip(tests,datas))

Test Data Load From /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Naïve.csv
Test Data Load From /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th1.csv
Test Data Load From /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th2.csv
Test Data Load From /Users/zhzhao/Dropbox/Helikar/pipelines/data/Proteomics_Th17.csv

In [143]:
testdata_bool = testdata > 0

In [14]:
proteomics_dict

{'Naive':                 CopyNumber_T4.naive_01_activated  \
 ENGREZ_GENE_ID
 5269                                           0
 1048                                           0
 8828                                          97
 3069                                      142088
 11309                                          0
 ...                                          ...
 25912                                          0
 9712                                         786
 10284                                      76249
 6929                                        3364
 23085                                      16283

                 CopyNumber_T4.naive_02_activated  \
 ENGREZ_GENE_ID
 5269                                           0
 1048                                           0
 8828                                           0
 3069                                      178332
 11309                                          0
 ...                                          ...
 25912                                          0
 9712                                           0
 10284                                      48262
 6929                                           0
 23085                                      11563

                 CopyNumber_T4.naive_03_activated  \
 ENGREZ_GENE_ID
 5269                                           0
 1048                                           0
 8828                                         416
 3069                                      134839
 11309                                          0
 ...                                          ...
 25912                                          0
 9712                                           0
 10284                                     193409
 6929                                           0
 23085                                       5043

                 CopyNumber_T4.naive_04_activated  \
 ENGREZ_GENE_ID
 5269                                           0
 1048                                           0
 8828                                         178
 3069                                      126964
 11309                                          0
 ...                                          ...
 25912                                          0
 9712                                           0
 10284                                      65768
 6929                                        4778
 23085                                       3220

                 CopyNumber_T4.naive_01_steady-state  \
 ENGREZ_GENE_ID
 5269                                              0
 1048                                              0
 8828                                              0
 3069                                          27078
 11309                                             0
 ...                                             ...
 25912                                             0
 9712                                              0
 10284                                         89578
 6929                                           4654
 23085                                          1735

                 CopyNumber_T4.naive_02_steady-state  \
 ENGREZ_GENE_ID
 5269                                              0
 1048                                              0
 8828                                              0
 3069                                          29479
 11309                                             0
 ...                                             ...
 25912                                             0
 9712                                              0
 10284                                        105993
 6929                                              0
 23085                                          2362

                 CopyNumber_T4.naive_03_steady-state  \
 ENGREZ_GENE_ID
 5269                                              0
 1048                                              0
 8828                                              0
 3069                                          28525
 11309                                             0
 ...                                             ...
 25912                                             0
 9712                                              0
 10284                                         88649
 6929                                              0
 23085                                          5009

                 CopyNumber_T4.naive_04_steady-state    pos  0.5  top 0.25
 ENGREZ_GENE_ID
 5269                                              0  0.000    0         0
 1048                                              0  0.000    0         0
 8828                                              0  0.375    0         0
 3069                                          38335  1.000    1         1
 11309                                             0  0.000    0         0
 ...                                             ...    ...  ...       ...
 25912                                             0  0.000    0         0
 9712                                              0  0.125    0         0
 10284                                        113089  1.000    1         1
 6929                                              0  0.375    0         0
 23085                                          4579  1.000    1         0

 [9839 rows x 11 columns],
 'Th1':                 CopyNumber_Th1_01_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                         0
 8828                                         0
 3069                                     29000
 11309                                        0
 ...                                        ...
 25912                                        0
 9712                                       778
 10284                                   256556
 6929                                      2267
 23085                                     1622

                 CopyNumber_Th1_02_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                      2559
 8828                                         0
 3069                                     39292
 11309                                        0
 ...                                        ...
 25912                                        0
 9712                                      1179
 10284                                   162096
 6929                                         0
 23085                                      685

                 CopyNumber_Th1_03_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                         0
 8828                                      1989
 3069                                     34518
 11309                                        0
 ...                                        ...
 25912                                        0
 9712                                       629
 10284                                   214902
 6929                                      6737
 23085                                     1673

                 CopyNumber_Th1_04_steady-state   pos  0.5  top 0.25
 ENGREZ_GENE_ID
 5269                                         0  0.00    0         0
 1048                                      3360  0.50    0         0
 8828                                         0  0.25    0         0
 3069                                     24917  1.00    1         0
 11309                                        0  0.00    0         0
 ...                                        ...   ...  ...       ...
 25912                                        0  0.00    0         0
 9712                                       751  1.00    1         0
 10284                                   105698  1.00    1         1
 6929                                         0  0.50    0         0
 23085                                     4901  1.00    1         0

 [9839 rows x 7 columns],
 'Th2':                 CopyNumber_Th2_01_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                         0
 8828                                         0
 3069                                     31993
 11309                                        0
 ...                                        ...
 25912                                        0
 9712                                         0
 10284                                   145872
 6929                                         0
 23085                                     3494

                 CopyNumber_Th2_02_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                         0
 8828                                         0
 3069                                     34241
 11309                                        0
 ...                                        ...
 25912                                     4990
 9712                                         0
 10284                                   137003
 6929                                      5217
 23085                                     6967

                 CopyNumber_Th2_03_steady-state  \
 ENGREZ_GENE_ID
 5269                                         0
 1048                                         0
 8828                                         0
 3069                                     29452
 11309                                        0
 ...                                        ...
 25912                                     2476
 9712                                         0
 10284                                   104060
 6929                                         0
 23085                                      368

                 CopyNumber_Th2_04_steady-state   pos  0.5  top 0.25
 ENGREZ_GENE_ID
 5269                                         0  0.00    0         0
 1048                                         0  0.00    0         0
 8828                                         0  0.00    0         0
 3069                                     55736  1.00    1         0
 11309                                        0  0.00    0         0
 ...                                        ...   ...  ...       ...
 25912                                        0  0.50    0         0
 9712                                       791  0.25    0         0
 10284                                   176350  1.00    1         1
 6929                                         0  0.25    0         0
 23085                                     4612  1.00    1         0

 [9839 rows x 7 columns],
 'Th17':                 CopyNumber_Th17_01_steady-state  \
 ENGREZ_GENE_ID
 5269                                          0
 1048                                          0
 8828                                          0
 3069                                      44039
 11309                                         0
 ...                                         ...
 25912                                         0
 9712                                          0
 10284                                    124929
 6929                                          0
 23085                                      4446

                 CopyNumber_Th17_02_steady-state  \
 ENGREZ_GENE_ID
 5269                                          0
 1048                                          0
 8828                                          0
 3069                                      36377
 11309                                         0
 ...                                         ...
 25912                                         0
 9712                                       1254
 10284                                    167703
 6929                                          0
 23085                                      2041

                 CopyNumber_Th17_03_steady-state  \
 ENGREZ_GENE_ID
 5269                                          0
 1048                                          0
 8828                                          0
 3069                                      44926
 11309                                         0
 ...                                         ...
 25912                                         0
 9712                                        836
 10284                                    145642
 6929                                       1335
 23085                                      4897

                 CopyNumber_Th17_04_steady-state  pos  0.5  top 0.25
 ENGREZ_GENE_ID
 5269                                          0  0.0    0         0
 1048                                          0  0.0    0         0
 8828                                          0  0.0    0         0
 3069                                      43494  1.0    1         0
 11309                                         0  0.0    0         0
 ...                                         ...  ...  ...       ...
 25912                                         0  0.0    0         0
 9712                                          0  0.5    0         0
 10284                                    155576  1.0    1         1
 6929                                       1893  0.5    0         0
 23085                                      7689  1.0    1         0

 [9839 rows x 7 columns]}

In [15]:
tests

['Naive', 'Th1', 'Th2', 'Th17']

In [9]:
filename = 'GeneExpressionDataUsed.xlsx'
# sheet_name = list(range(5)) # first 5 sheets

# gse2770 = GSEproject('GSE2770',projectdir)

inqueryFullPath = os.path.join(projectdir, 'data', filename)
xl = pd.ExcelFile(inqueryFullPath)
sheet_name = xl.sheet_names

tests = []
datas = []
for sheet in sheet_name:
    # print(list(inqueries[i]))
    filename = 'transcriptomics_{}.csv'.format(sheet)
    fullsavepath = os.path.join(projectdir,'data',filename)
    data = pd.read_csv(fullsavepath,index_col='ENTREZ_GENE_ID')
    print('Read from {}'.format(fullsavepath))
    datas.append(data)
    tests.append(sheet)
transcriptomics_dict = dict(zip(tests,datas))

Read from /Users/zhzhao/Dropbox/Helikar/pipelines/data/transcriptomics_Naive.csv
Read from /Users/zhzhao/Dropbox/Helikar/pipelines/data/transcriptomics_Th1.csv
Read from /Users/zhzhao/Dropbox/Helikar/pipelines/data/transcriptomics_Th2.csv
Read from /Users/zhzhao/Dropbox/Helikar/pipelines/data/transcriptomics_Th17.csv
Read from /Users/zhzhao/Dropbox/Helikar/pipelines/data/transcriptomics_Treg.csv

## Merge Transcriptomics and Proteomics
1. Intersection of Both 0.5
2. Transcriptomics 0.9
3. Proteomics top 25% quantile value

In [73]:
keys1 = proteomics_dict.keys()
keys2 = transcriptomics_dict.keys()
tests = set(keys1).intersection(set(keys2))
for test in tests:
    merge_data = pd.DataFrame()
    
    prote_data = proteomics_dict[test].loc[:,['0.5','top 0.25']]
    prote_data.rename(columns={'0.5':'prote_0.5','top 0.25':'prote_top'},inplace=True)

    trans_data = transcriptomics_dict[test].loc[:,['0.5','0.9']]
    trans_data.rename(columns={'0.5':'trans_0.5','0.9':'trans_top'},inplace=True)
    
    print(trans_data.shape)
    print(prote_data.shape)
    
    merge_data = prote_data.join(trans_data, how='outer')
    merge_data = mergeLogicalTable(merge_data)
    merge_data['Express'] = 0
    merge_data.loc[merge_data[['prote_0.5','trans_0.5']].sum(axis=1)==2, 'Express'] = 1
    merge_data.loc[merge_data[['prote_top','trans_top']].sum(axis=1)>0,'Express'] = 1
    filepath = os.path.join(projectdir,'data','merged_{}.csv'.format(test))
    merge_data.to_csv(filepath, index_label='ENTREZ_GENE_ID')
    
    print('{}: save to {}\n'.format(test, filepath))

699 single ENTREZ_GENE_IDs to merge
id_list: 3539, set: 3429
entrez_single_id_list: 22027, set: 21337
entrez_id_list: 1263, set: 1261
dups: 218, set: 108
1233 id merged
698 single ENTREZ_GENE_IDs to merge
id_list: 3505, set: 3412
entrez_single_id_list: 21932, set: 21242
entrez_id_list: 1259, set: 1257
dups: 184, set: 91
1230 id merged
676 single ENTREZ_GENE_IDs to merge
id_list: 3394, set: 3308
entrez_single_id_list: 21991, set: 21301
entrez_id_list: 1235, set: 1233
dups: 170, set: 84
1210 id merged
677 single ENTREZ_GENE_IDs to merge
id_list: 3415, set: 3325
entrez_single_id_list: 22088, set: 21398
entrez_id_list: 1243, set: 1241
dups: 173, set: 83
1214 id merged

In [78]:
# Those only with transcriptomics or proteomics
tests2 = (set(keys1).union(set(keys2))).difference(tests)
for test in tests2:
    if test in keys1:
        merge_data = proteomics_dict[test].loc[:,['0.5','top 0.25']]
        merge_data.rename(columns={'0.5':'0.5','top 0.25':'top'},inplace=True)
    elif test in keys2:
        merge_data = transcriptomics_dict[test].loc[:,['0.5','0.9']]
        merge_data.rename(columns={'0.5':'0.5','0.9':'top'},inplace=True)

    merge_data = mergeLogicalTable(merge_data)
    merge_data['Express'] = 0
    merge_data.loc[merge_data[['0.5','top']].sum(axis=1)>0, 'Express'] = 1
    filepath = os.path.join(projectdir,'data','merged_{}.csv'.format(test))
    merge_data.to_csv(filepath, index_label='ENTREZ_GENE_ID')
    
    print('{}: save to {}\n'.format(test, filepath))

0 single ENTREZ_GENE_IDs to merge
id_list: 2241, set: 2226
entrez_single_id_list: 18263, set: 18263
entrez_id_list: 819, set: 819
dups: 30, set: 15
814 id merged
Treg: save to /Users/zhzhao/Dropbox/Helikar/pipelines/data/merged_Treg.csv

In [67]:
test = 'Naive'
merge_data = pd.DataFrame()

prote_data = proteomics_dict[test].loc[:,['0.5','top 0.25']]
prote_data.rename(columns={'0.5':'prote_0.5','top 0.25':'prote_top'},inplace=True)

trans_data = transcriptomics_dict[test].loc[:,['0.5','0.9']]
trans_data.rename(columns={'0.5':'trans_0.5','0.9':'trans_top'},inplace=True)

# merge_data = pd.concat([prote_data,trans_data], axis=1, inplace=True)
merge_data = prote_data.join(trans_data, how='outer')
merge_data = mergeLogicalTable(merge_data)

In [80]:
transcriptomics_dict[test].loc[:,['0.5','0.9']]

                0.5  0.9
ENTREZ_GENE_ID
1                 1    1
10                0    0
100               1    0
1000              0    0
10000             1    0
...             ...  ...
9991              1    1
9992              0    0
9993              1    1
9994              1    0
9997              1    0

[19082 rows x 2 columns]

In [72]:
merge_data['Express'] = 0
merge_data.loc[merge_data[['prote_0.5','trans_0.5']].sum(axis=1)==2, 'Express'] = 1
merge_data.loc[merge_data[['prote_top','trans_top']].sum(axis=1)>0,'Express'] = 1
merge_data

                prote_0.5  prote_top  trans_0.5  trans_top  Express
ENTREZ_GENE_ID
1                     1.0        0.0        1.0        0.0        1
10                    NaN        NaN        0.0        0.0        0
100                   1.0        1.0        1.0        1.0        1
1000                  0.0        0.0        0.0        0.0        0
10000                 1.0        0.0        1.0        0.0        1
...                   ...        ...        ...        ...      ...
9991                  1.0        1.0        1.0        1.0        1
9992                  NaN        NaN        0.0        0.0        0
9993                  NaN        NaN        1.0        1.0        1
9994                  1.0        0.0        1.0        0.0        1
9997                  1.0        1.0        1.0        0.0        1

[21835 rows x 5 columns]

In [38]:
print(trans_data.shape)
print(prote_data.shape)

(21807, 2)
(9839, 2)

In [52]:
## Merge Output
def mergeLogicalTable(df_results):
    '''
    Merge the Rows of Logical Table belongs to the same ENTREZ_GENE_ID
    :param df_results:
    :return: pandas dataframe of merged table
    '''
    # step 1: get all plural ENTREZ_GENE_IDs in the input table, extract unique IDs
    df_results.reset_index(drop=False, inplace=True)
    df_results['ENTREZ_GENE_ID'] = df_results['ENTREZ_GENE_ID'].str.replace(" /// ", "//")
    id_list = []
    entrez_single_id_list = df_results[~df_results['ENTREZ_GENE_ID'].str.contains("//")]['ENTREZ_GENE_ID'].tolist()
    entrez_id_list = df_results[df_results['ENTREZ_GENE_ID'].str.contains("//")]['ENTREZ_GENE_ID'].tolist()
    for entrez_id in entrez_id_list:
        entrez_ids = entrez_id.split("//")
        id_list.extend(entrez_ids)
        df_dups = pd.DataFrame([], columns=list(df_results), index=list(range(len(entrez_ids))))
        dup_rows = []
        for eid in entrez_ids:
            rows = df_results.loc[df_results['ENTREZ_GENE_ID']==entrez_id].copy()
            rows['ENTREZ_GENE_ID'] = eid
            dup_rows.append(rows)
        df_results = df_results.append(dup_rows,ignore_index=True)
        df_results.drop(df_results[df_results['ENTREZ_GENE_ID']==entrez_id].index, inplace=True)

    # step 2: print out information about merge
    common_elements = list(set(entrez_single_id_list).intersection(set(id_list)))
    # information of merge
    print('{} single ENTREZ_GENE_IDs to merge'.format(len(common_elements)))
    print('id_list: {}, set: {}'.format(len(id_list),len(set(id_list))))
    print('entrez_single_id_list: {}, set: {}'.format(len(entrez_single_id_list),len(set(entrez_single_id_list))))
    print('entrez_id_list: {}, set: {}'.format(len(entrez_id_list),len(set(entrez_id_list))))

    dups = [x for x in id_list if id_list.count(x) > 1]
    # dups = list(set(id_list))
    print('dups: {}, set: {}'.format(len(dups),len(set(dups))))

    full_entre_id_sets = []
    cnt = 0
    entrez_dups_list = []
    idx_list = list(range(len(entrez_id_list)))
    for idx1 in range(len(entrez_id_list)):
        if not idx1 in idx_list:
            continue
        set1 = set(entrez_id_list[idx1].split("//"))
        idx_list.remove(idx1)
        toremove = []
        for idx2 in idx_list:
            set2 = set(entrez_id_list[idx2].split("//"))
            intersect = set1.intersection(set2)
            if bool(intersect):
                set1 = set1.union(set2)
                toremove.append(idx2)
        for idx3 in toremove:
            idx_list.remove(idx3)
        sortlist = list(set1)
        sortlist.sort(key=int)
        new_entrez_id = " /// ".join(sortlist)
        full_entre_id_sets.append(new_entrez_id)
    full_entre_id_sets = list(set(full_entre_id_sets))

    for full_entrez_id in full_entre_id_sets:
        singles = full_entrez_id.split(" /// ")
        entrez_dups_list.append(singles)
        cnt += 1

    print('{} id merged'.format(cnt))
    entrez_dups_dict = dict(zip(full_entre_id_sets,entrez_dups_list))
    # full_entre_id_sets = list(set(full_entre_id_sets))

    # df_results.reset_index(inplace=True)
    for merged_entrez_id, entrez_dups_list in entrez_dups_dict.items():
        df_results['ENTREZ_GENE_ID'].replace(to_replace=entrez_dups_list,
                                             value=merged_entrez_id,
                                             inplace=True)
    # df_results.drop_duplicates(subset=['ENTREZ_GENE_ID'], keep='first', inplace=True)
    df_results.set_index('ENTREZ_GENE_ID', inplace=True)

    df_output = df_results.fillna(-1).groupby(level=0).max()
    df_output.replace(-1, np.nan, inplace=True)
    return df_output

In [63]:
prote_data[prote_data.index.str.contains('//')]

                                                    prote_0.5  prote_top
ENTREZ_GENE_ID
84939//3662                                                 1          0
3045//100187828                                             0          0
2618//2617                                                  1          1
7006//100124696                                             0          0
5859//2058                                                  1          1
84174//4141                                                 1          1
8360//8368//8367//8361//8364//8294//8366//55431...          1          1
3017//8343//8344//8346//8339//8347                          1          1
8351//8353//8354//8355//8357//8358//8968//8356/...          1          1
387680//253725                                              1          0
126961//333932//653604                                      1          1
445815//11217                                               1          0
7795//51072                                                 1          1

In [61]:
test_boolean = mergeLogicalTable(merge_data)
test_boolean

676 single ENTREZ_GENE_IDs to merge
id_list: 3394, set: 3308
entrez_single_id_list: 21991, set: 21301
entrez_id_list: 1235, set: 1233
dups: 170, set: 84
1210 id merged

                prote_0.5  prote_top  trans_0.5  trans_top
ENTREZ_GENE_ID
1                     1.0        0.0        1.0        0.0
10                    NaN        NaN        0.0        0.0
100                   1.0        1.0        1.0        1.0
1000                  0.0        0.0        0.0        0.0
10000                 1.0        0.0        1.0        0.0
...                   ...        ...        ...        ...
9991                  1.0        1.0        1.0        1.0
9992                  NaN        NaN        0.0        0.0
9993                  NaN        NaN        1.0        1.0
9994                  1.0        0.0        1.0        0.0
9997                  1.0        1.0        1.0        0.0

[21835 rows x 4 columns]

In [82]:
proteomics_data = pd.read_csv(os.path.join(projectdir,'data','proteomics_data.csv'),index_col='ENTREZ_GENE_ID')
df = proteomics_data.groupby('Gene Symbol').agg('max')
df

KeyError: 'Gene Symbol'